body{
  padding: 30px;
    background: linear-gradient(to bottom, #ccffff 4%, #6699ff 113%);
    

}
h1 {
  font-family: "Sofia", sans-serif;
 
}
img{
  align-self: center;
  height: 220px;
  width: 320px;
}
div{
  text-align: justify;
  text-justify: inter-word;
}